footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: .5rem;

    img {
        width: 150px;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .logos {
        display: flex;
        flex-direction: column;

        img {
            margin-bottom: 10px;
        }
    }
}