$rich-black-fogra-39: #0c0b0fff;
$alice-blue: #dcebf4ff;
$blue-violet-crayola: #6b6bacff;
$russian-violet: #392b58ff;
$rhythm: #7b7191ff;

.corpo {
    background-color: $blue-violet-crayola;
    min-height: 80vh;
    padding: 1rem;

    p {
        background-color: $alice-blue;
        border-radius: 2rem;
        margin: 0 auto;
        padding: 2rem 0.5rem;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 400;
        max-width: 80vw;
    }
}
.imagem {
    max-width: 100%;
    display: block;

    img{
        display: block;
        margin: 2em;
        &:hover {
            opacity: 0.4;  
        }
        &:first-child {
            width: 7em;
        }
        &:nth-child(2) {
            width: 5em;
        }
        &:nth-child(3) {
            width: 10em;
        }
        &:nth-child(4) {
            width: 5em;
        }
        &:nth-child(5) {
            width: 5em;
        }

    }
}
.imagem a:first-child {
    position: absolute;
    top: 50%;
    left: 5%;
}
.imagem a:nth-child(3){
    position: absolute;
    top: 51%;
    left: 20%;
}
.imagem a:nth-child(5){
    position: absolute;
    top: 54%;
    left: 40%;
}
.imagem a:nth-child(7){
    position: absolute;
    top: 53%;
    left: 60%;
}
.imagem a:nth-child(9){
    position: absolute;
    top: 45%;
    left: 80%;
}

.dropdown {
    width: 60%;
    position: absolute;
    top: 70%;
    left: 20%;
    justify-self: center;

    .text{
        border: 5px solid $russian-violet;
        border-radius: 30px;
        padding: 1rem;
        background-color: $alice-blue;
        
        h1{
            color: #424242;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5rem;
            padding-left: 0.6rem;
        }
        p{
            color: #424242;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            text-align: left;
        }
    }
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $russian-violet; 
    margin: 0 auto;
}
@media screen and (max-width: 1500px ) {

    .corpo {
        min-height: 100vh;
    }
    .imagem a:first-child {
        top: 63%;
    }
    .imagem a:nth-child(3){
        top: 65%;
    }
    .imagem a:nth-child(5){
        top: 70%;
    }
    .imagem a:nth-child(7){
        top: 69%;
    }
    .imagem a:nth-child(9){
        top: 60%;
    }
    .dropdown{
        top: 85%;
    }

}

@media screen and (max-width: 1366px ) {

     .corpo {
         min-height: 90vh;
     }
     .imagem a:first-child {
         top: 56%;
     }
     .imagem a:nth-child(3){
        top: 58%;
     }
     .imagem a:nth-child(5){
        top: 63%;
     }
     .imagem a:nth-child(7){
         top: 61%;
     }
     .imagem a:nth-child(9){
         top: 55%;
     }
    .dropdown{
         top: 75%;
        
       .text {
           padding: 1rem 0.5rem;

           h1 {
               font-size: 1.3rem;
            }

            p {
                font-size: 0.9rem;
            }
        }
   }

}

@media screen and (max-width: 1366px) and (max-height: 660px ) {

    .corpo {
        min-height: 100vh;

        p{
            font-size: 1rem;
        }
    }
    .imagem a:first-child {
        top: 65%;
    }
    .imagem a:nth-child(3){
       top: 67%;
    }
    .imagem a:nth-child(5){
       top: 72%;
    }
    .imagem a:nth-child(7){
        top: 70%;
    }
    .imagem a:nth-child(9){
        top: 60%;
    }
   .dropdown{
        top: 85%;
  }

}

@media screen and (max-width: 1118px ) {
    
    .corpo p {
        font-size: 1rem;
        padding: 1rem .5rem;
    }
}

@media screen and (max-width: 1024px ) {
    .corpo {
        min-height: 90vh;
    }
    .imagem a:first-child {
        position: absolute;
        top: 57%;
        left: 0%;
    }
    .imagem a:nth-child(3){
        position: absolute;
        top: 59%;
        left: 20%;
    }
    .imagem a:nth-child(5){
        position: absolute;
        top: 63%;
        left: 40%;
    }
    .imagem a:nth-child(7){
        position: absolute;
        top: 61%;
        left: 60%;
    }
    .imagem a:nth-child(9){
        position: absolute;
        top: 52%;
        left: 80%;
    }
    .dropdown{
        width: 90%;
        top: 79%;
        left: 5%;
        
        .text {
            padding: 1rem 0.5rem;

            h1 {
                font-size: 1rem;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    
    .imagem a:first-child {
        position: absolute;
        top: 50%;
        left: 0%;
    }
    .imagem a:nth-child(3){
        position: absolute;
        top: 51%;
        left: 20%;
    }
    .imagem a:nth-child(5){
        position: absolute;
        top: 54%;
        left: 40%;
    }
    .imagem a:nth-child(7){
        position: absolute;
        top: 52%;
        left: 60%;
    }
    .imagem a:nth-child(9){
        position: absolute;
        top: 47%;
        left: 80%;
    }
    .dropdown{
        width: 90%;
        top: 65%;
        left: 5%;
        
        .text {
            padding: 1rem 0.5rem;

            h1 {
                font-size: 1rem;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }


}
@media screen and (max-width: 414px) {
    .corpo {
        padding: 1rem 0;

        p {
            font-size: 1rem;
        }
    }
    .imagem {
        max-width: 100%;
        display: block;
        
        img{
            display: block;
            margin: .5em;
        
            &:first-child {
                width: 3em;
            }
            &:nth-child(2) {
                width: 3em;
            }
            &:nth-child(3) {
                width: 4em;
            }
            &:nth-child(4) {
                width: 3em;
            }
            &:nth-child(5) {
                width: 2em;
            }
            
        }
    }
    .imagem a:first-child {
        position: absolute;
        top: 50%;
        left: 3%;
    }
    .imagem a:nth-child(3){
        position: absolute;
        top: 50%;
        left: 20%;
    }
    .imagem a:nth-child(5){
        position: absolute;
        top: 52%;
        left: 40%;
    }
    .imagem a:nth-child(7){
        position: absolute;
        top: 51%;
        left: 60%;
    }
    .imagem a:nth-child(9){
        position: absolute;
        top: 47%;
        left: 80%;
    }
    .dropdown{
        width: 90%;
        top: 60%;
        left: 5%;
        
        .text {
            padding: 1rem 0.5rem;

            h1 {
                font-size: 1rem;
            }

            p {
                font-size: 0.7rem;
            }
        }
    }
}